.background-ticket {
  background: url("./imagen_splash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  width: 100vw;
  height: 250px;
}

.background-new-ticket {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120vw;
  height: 250px;
}
